@use 'global' as *;

body {
  opacity: 0;
}

// fv

.fv__copy {
  opacity: 0;
  filter: blur(10px);
  position: absolute;
  width: rem(400);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fv__bg-contaienr.swiper {
  mask-image: url('../images/map_01.png');
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  opacity: 0;
}

// mapセクション

.map__ripples {
  position: absolute;
  opacity: 0;
  inset: 0;
}
.map__ripple {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  background: radial-gradient(closest-side, rgba(17, 164, 216, 0.7), transparent);
  filter: blur(rem(3));
  border-radius: 50%;
  transition: 0.7s cubic-bezier(0, 1, 0.6, 1) all;
}

.map__ripple--1 {
  left: 40%;
  top: rem(10);
  width: rem(100);
}

.map__ripple--2 {
  top: 15%;
  left: 60%;
  width: rem(140);
}

.map__ripple--3 {
  top: 5%;
  right: 10%;
  width: rem(120);
}

// 汎用パララックス
.js-parallax {
  overflow: hidden;
}

.js-parallax img {
  height: calc(100% + 100px);
}
