@use 'global' as *;

.button {
  align-items: center;
  display: flex;
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  color: var(--base-color);
  gap: rem(25);
  line-height: normal;
  width: fit-content;
  padding: rem(13) 0;
  border-bottom: 1px solid var(--base-color);
  position: relative;
}

.button__icon {
  aspect-ratio: 28/13;
  width: rem(13);
  background-color: var(--base-color);
  mask-image: url('../images/arrow.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  translate: 50% -50%;
  width: rem(25);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--yellow);
  z-index: 3;
  right: rem(7);
  opacity: 0;
}

@media (any-hover: hover) {
  .button:hover::after {
    animation: button-icon 0.9s cubic-bezier(0, 1, 0.6, 1) forwards;
  }
}

@keyframes button-icon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    scale: 3;
  }
}
