@use 'global' as *;

.button {
  align-items: center;
  display: flex;
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  color: var(--base-color);
  gap: rem(25);
  line-height: normal;
  width: fit-content;
  padding: rem(13) 0;
  border-bottom: 1px solid var(--base-color);
  position: relative;
  transition: 0.3s ease-out all;
  overflow: visible;
}

.button__icon {
  aspect-ratio: 28/13;
  width: rem(13);
  background-color: var(--base-color);
  mask-image: url('../images/arrow.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  position: relative;
  z-index: 2;
  transition: 0.3s ease-out all;
}

.button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  translate: 50% -50%;
  width: rem(25);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--yellow);
  z-index: 3;
  right: rem(7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (any-hover: hover) {
  .button:hover {
    border-bottom-color: var(--yellow);
    color: var(--yellow);
  }

  .button:hover span {
    background-color: var(--yellow);
    transform: translateX(rem(5));
  }
  .button:hover::after {
    opacity: 1;
    animation: button-ripple 0.8s cubic-bezier(0, 1, 0.6, 1) forwards;
  }
}

@keyframes button-ripple {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 3.5;
  }
}
