@use 'global' as *;

.footer {
  position: relative;
  background-color: var(--brown);
  padding-bottom: rem(135);
}

.footer__bg {
  aspect-ratio: 1440/549;
}

.footer__inner {
  max-width: rem(977);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.footer__info {
  background-color: var(--white);
  border-radius: rem(34);
  gap: rem(20);
  margin-top: rem(-114);
  max-width: rem(918);
  margin-inline: auto;
  padding: rem(27) rem(74) rem(27) rem(83);
  display: flex;
  align-items: center;
  gap: rem(30);
  position: relative;
  z-index: 2;
}

.footer__info-content {
  width: 40%;
  flex-grow: 1;
}

.footer__info-title {
  font-family: var(--base-font-family);
  font-size: rem(40);
  font-weight: var(--bold);
  line-height: 1.5;
  margin-bottom: rem(24);
}

.footer__info-address {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  line-height: 1.5;
  margin-bottom: rem(8);
}

.footer__info-postal {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  line-height: 1.5;
}

.footer__info-tel {
  align-items: center;
  display: flex;
  font-family: var(--base-font-family);
  font-size: rem(40);
  font-weight: var(--bold);
  gap: rem(5);
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.footer__info-tel-label {
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  line-height: 1.5;
}

.footer__info-tel-icon {
  aspect-ratio: 1;
  width: rem(40);
}

.footer__info-fax {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.footer__info-right {
  width: rem(242);
}

.footer__info-logo {
  aspect-ratio: 242/128;
  width: 100%;
}

.footer__info-logo-img {
  object-fit: contain;
}

.footer__sns {
  gap: rem(24);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: rem(180);
  margin-left: auto;
  margin-bottom: rem(29);
}

.footer__sns-item-img {
  object-fit: contain;
}

.footer__nav {
  align-items: flex-start;
  display: flex;
  gap: rem(30);
  justify-content: center;
  padding: rem(60) 0;
}

.footer__nav-item {
  align-items: center;
  display: flex;
  gap: rem(8);
  padding: rem(10) 0;

  .circle-arrow {
    aspect-ratio: 1;
    width: rem(16);
    border-radius: 50%;
    background-color: var(--white);
    display: grid;
    place-content: center;
    &::after {
      content: '';
      display: block;
      aspect-ratio: 1;
      width: rem(14);
      mask-image: url('../images/arrow-right.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: var(--brown);
      mask-position: center;
    }
  }
}

.footer__nav-item-text {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
}

.footer__copyright {
  color: var(--white);
  font-family: var(--en-font);
  font-size: rem(16);
  font-weight: var(--regular);
  line-height: 1;
  text-align: center;
}
