@use 'global' as *;

.fv {
  height: 100vh;
  min-height: rem(800);
  position: relative;
}

.fv__bg-contaienr.swiper {
  height: 100%;
  position: absolute;
  inset: 0;
}

.fv__bg-img {
  object-fit: cover;
  width: 100%;
}

.fv__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(85);
  z-index: 2;
}

.fv__logo {
  aspect-ratio: 731/387;
  width: rem(731);
}

.fv__logo-img {
  object-fit: contain;
}

.fv__slider-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.fv__slider-bullets {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(20);
}

.fv__slider-button-icon {
  align-items: center;
  display: flex;
  height: rem(24);
  justify-content: center;
  left: rem(157);
  position: absolute;
  top: rem(18);
  width: rem(24);
}

.fv__slider-button-icon-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.fv__sns {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  left: rem(69);
  position: absolute;
  top: rem(483);
  z-index: 3;
  @include mq {
    left: rem(20);
    top: auto;
    bottom: rem(20);
    flex-direction: row;
    gap: rem(15);
  }
}

.fv__sns-item {
  height: rem(22);
  width: rem(22);
  @include mq {
    height: rem(20);
    width: rem(20);
  }
}

.fv__sns-item-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
