@use 'global' as *;

.fv {
  height: rem(1080);
  overflow: hidden;
  position: relative;
  width: 100%;
  @include mq {
    height: rem(600);
  }
}

.fv__bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fv__bg-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fv__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

.fv__logo {
  height: rem(387);
  margin-bottom: rem(40);
  position: relative;
  width: rem(731);
  z-index: 2;
  @include mq {
    height: rem(200);
    margin-bottom: rem(30);
    width: rem(380);
  }
}

.fv__logo-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fv__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  position: relative;
  z-index: 2;
  @include mq {
    gap: rem(15);
  }
}

.fv__text-main {
  color: var(--white);
  font-family: var(--en-font);
  font-size: rem(48);
  font-weight: var(--regular);
  letter-spacing: rem(4.8);
  line-height: 1.2;
  text-align: center;
  @include mq {
    font-size: rem(32);
    letter-spacing: rem(3.2);
  }
}

.fv__text-sub {
  color: var(--white);
  font-family: var(--en-font);
  font-size: rem(18);
  font-weight: var(--regular);
  letter-spacing: rem(1.8);
  line-height: 1.2;
  text-align: center;
  @include mq {
    font-size: rem(14);
    letter-spacing: rem(1.4);
  }
}

.fv__slider-button {
  align-items: center;
  display: flex;
  height: rem(60);
  justify-content: center;
  position: absolute;
  right: rem(120);
  top: 50%;
  transform: translateY(-50%);
  width: rem(191);
  z-index: 3;
  @include mq {
    right: rem(20);
    width: rem(150);
  }
}

.fv__slider-button-inner {
  align-items: center;
  display: flex;
  height: rem(60);
  position: relative;
  width: rem(191);
}

.fv__slider-button-line {
  height: rem(11);
  left: rem(10);
  position: absolute;
  top: rem(24.5);
  width: rem(135);
}

.fv__slider-button-icon {
  align-items: center;
  display: flex;
  height: rem(24);
  justify-content: center;
  left: rem(157);
  position: absolute;
  top: rem(18);
  width: rem(24);
}

.fv__slider-button-icon-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.fv__sns {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  left: rem(69);
  position: absolute;
  top: rem(483);
  z-index: 3;
  @include mq {
    left: rem(20);
    top: auto;
    bottom: rem(20);
    flex-direction: row;
    gap: rem(15);
  }
}

.fv__sns-item {
  height: rem(22);
  width: rem(22);
  @include mq {
    height: rem(20);
    width: rem(20);
  }
}

.fv__sns-item-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
