@use 'global' as *;

.fv {
  height: 100vh;
  min-height: rem(800);
  position: relative;
  margin-bottom: rem(120);
}

.fv__bg-contaienr.swiper {
  height: 100%;
  position: absolute;
  inset: 0;
}

.fv__bg-img {
  object-fit: cover;
  width: 100%;
}

.fv__inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(85);
  z-index: 5;
  position: relative;
}

.fv__logo {
  aspect-ratio: 731/387;
  width: rem(731);
}

.fv__logo-img {
  object-fit: contain;
}

.fv__slider-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.fv__slider-bullets {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(10);
  position: static !important;
}

.fv__slider-bullets {
  .swiper-pagination-bullet {
    background-color: var(--white);
    opacity: 1;
    transition: 0.3s ease-in-out all;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--brown);
  }
}

.fv__slider-button-icon {
  width: rem(24);
  aspect-ratio: 24/24;
}

.fv__slider-button-icon-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.fv__sns {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  z-index: 3;
  @include mq {
    left: rem(20);
    top: auto;
    bottom: rem(20);
    flex-direction: row;
    gap: rem(15);
  }
}

.fv__sns-item {
  height: rem(22);
  width: rem(22);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  @include mq {
    height: rem(20);
    width: rem(20);
  }
}

.fv__sns-item-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .fv__sns-item:hover {
    transform: scale(1.2) translateY(rem(-3));
  }

  .fv__sns-item:hover .fv__sns-item-img {
    filter: brightness(1.2);
  }
}
