@use 'global' as *;

.header {
  position: relative;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: rem(20);
  right: rem(24);
  left: rem(24);
  width: calc(100% - rem(48));
}

.header__accessibility {
  background-color: var(--white);
  padding: rem(5) rem(32);
  width: 100%;
}

.header__accessibility-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(50);
}

.header__logo {
  display: block;
  width: rem(113);
  aspect-ratio: 113/60;
}

.header__logo img {
  object-fit: contain;
}

.header__top-right {
  display: flex;
  gap: rem(40);
  justify-content: flex-end;
}

.header__font-size {
  align-items: center;
  display: flex;
  gap: rem(8);
}

.header__font-size-label {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  margin-right: rem(2);
}

.header__font-size-enlarge {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__font-size-enlarge-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__font-size-reduce {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__font-size-reduce-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color {
  align-items: center;
  display: flex;
  gap: rem(10);
}

.header__bg-color-label {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  white-space: nowrap;
}

.header__bg-color-reset {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__bg-color-reset-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color-white {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10);
  width: rem(28);
}

.header__bg-color-white-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color-black {
  align-items: center;
  background-color: var(--base-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10);
  width: rem(28);
}

.header__bg-color-black-text {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__voice {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  gap: rem(8);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__voice-icon {
  height: rem(16);
  width: rem(16);
}

.header__voice-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__ruby {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  font-family: var(--base-font-family);
  font-weight: var(--bold);
  gap: rem(8);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__ruby-icon {
  color: var(--base-color);
  display: flex;
  flex-direction: column;
  font-size: rem(8);
  height: rem(16);
  line-height: 1;
  width: rem(16);
}

.header__ruby-icon p {
  margin: 0;
}

.header__ruby-text {
  font-size: rem(14);
}

.header__language {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  gap: rem(10);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__language-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__language-icon {
  height: rem(16);
  transform: rotate(90deg);
  width: rem(16);
}

.header__nav {
  background-color: var(--brown);
  border-radius: 0 0 rem(10) rem(10);
  padding: rem(5) rem(30);
}

.header__nav-inner {
  display: flex;
  align-items: center;
  gap: rem(24);
  justify-content: center;
}

.header__nav-item {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  padding: rem(8) rem(24) rem(8) 0;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5lh;
    right: 0;
    aspect-ratio: 1;
    width: rem(16);
    background-color: var(--white);
    mask-image: url('../images/arrow-right.svg');
    mask-repeat: no-repeat;
    mask-size: cotain;
    mask-position: center;
  }
}

.header__nav-disaster {
  align-items: center;
  background-color: var(--white);
  border-radius: rem(10);
  padding: rem(8);
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  line-height: 1;
  font-weight: var(--bold);
}
