@use 'global' as *;

.header {
  position: relative;
  width: 100%;
}

.header__accessibility {
  background-color: var(--white);
  border-radius: rem(10) rem(10) 0 0;
  height: rem(70);
  position: relative;
  width: 100%;
}

.header__accessibility-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: rem(40);
  height: rem(30);
  justify-content: center;
  margin: 0 auto;
  max-width: rem(1392);
  padding: rem(20) var(--padding-pc);
  position: relative;
  @include mq {
    gap: rem(20);
    justify-content: flex-start;
  }
}

.header__font-size {
  align-items: center;
  display: flex;
  gap: rem(10);
}

.header__font-size-label {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  white-space: nowrap;
}

.header__font-size-enlarge {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__font-size-enlarge-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__font-size-reduce {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__font-size-reduce-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color {
  align-items: center;
  display: flex;
  gap: rem(10);
}

.header__bg-color-label {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  white-space: nowrap;
}

.header__bg-color-reset {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__bg-color-reset-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color-white {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10);
  width: rem(28);
}

.header__bg-color-white-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__bg-color-black {
  align-items: center;
  background-color: var(--base-color);
  display: flex;
  height: rem(30);
  justify-content: center;
  padding: rem(10);
  width: rem(28);
}

.header__bg-color-black-text {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__voice {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  gap: rem(8);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__voice-icon {
  height: rem(16);
  width: rem(16);
}

.header__voice-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__ruby {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  font-family: var(--base-font-family);
  font-weight: var(--bold);
  gap: rem(8);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__ruby-icon {
  color: var(--base-color);
  display: flex;
  flex-direction: column;
  font-size: rem(8);
  height: rem(16);
  line-height: 1;
  width: rem(16);
}

.header__ruby-icon p {
  margin: 0;
}

.header__ruby-text {
  font-size: rem(14);
}

.header__language {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  gap: rem(10);
  height: rem(30);
  justify-content: center;
  padding: rem(10) rem(8);
}

.header__language-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__language-icon {
  height: rem(16);
  transform: rotate(90deg);
  width: rem(16);
}

.header__nav {
  background-color: var(--brown);
  border-radius: 0 0 rem(10) rem(10);
  height: rem(50);
  position: relative;
  width: 100%;
}

.header__nav-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  height: rem(30);
  justify-content: flex-start;
  margin: rem(10) auto 0;
  max-width: rem(1392);
  padding: 0 var(--padding-pc);
  position: relative;
  @include mq {
    gap: rem(8);
  }
}

.header__nav-item {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  white-space: nowrap;
  @include mq {
    font-size: rem(14);
  }
}

.header__nav-item-icon {
  height: rem(16);
  transform: rotate(270deg);
  width: rem(16);
}

.header__nav-item-icon--first {
  transform: rotate(90deg) scaleY(-1);
}

.header__nav-disaster {
  align-items: center;
  background-color: var(--white);
  border-radius: rem(10);
  display: flex;
  height: rem(30);
  justify-content: center;
  margin-left: auto;
  width: rem(72);
  @include mq {
    margin-left: 0;
    width: auto;
    padding: 0 rem(10);
  }
}

.header__nav-disaster-text {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
}

.header__logo {
  height: rem(60);
  left: rem(32);
  position: absolute;
  top: rem(5);
  width: rem(113);
  z-index: 10;
  @include mq {
    height: rem(40);
    left: rem(20);
    top: rem(10);
    width: rem(75);
  }
}

.header__logo-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
