@use 'global' as *;

.map {
  margin-bottom: rem(240);
}

.map__inner {
  display: grid;
  gap: rem(54);
  grid-template-columns: rem(612) 1fr;
  max-width: rem(1295);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
  transform: translateX(rem(-40));
}

.map__img {
  aspect-ratio: 6125/4600;
}

.map__content {
}

.map__title {
  font-family: var(--base-font-family);
  font-size: rem(48);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1.6;
  margin-bottom: rem(60);
}

.map__text {
  font-family: var(--base-font-family);
  font-size: rem(20);
  font-weight: var(--regular);
  letter-spacing: 0.01em;
  line-height: 1.8;
  margin-bottom: rem(70);
}
