@use 'global' as *;

.map {
  margin-bottom: rem(240);
  position: relative;
}

.map__ripples {
  position: absolute;
  opacity: 0;
  inset: 0;
}
.map__ripple {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  background: radial-gradient(closest-side, rgba(17, 164, 216, 0.7), transparent);
  filter: blur(rem(3));
  border-radius: 50%;
  transition: 0.7s cubic-bezier(0, 1, 0.6, 1) all;
}

.map__ripple--1 {
  left: 40%;
  top: rem(10);
  width: rem(100);
}

.map__ripple--2 {
  top: 15%;
  left: 60%;
  width: rem(140);
}

.map__ripple--3 {
  top: 5%;
  right: 10%;
  width: rem(120);
}

.map__inner {
  display: grid;
  gap: rem(54);
  grid-template-columns: rem(612) 1fr;
  max-width: rem(1295);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
}

.map__img {
  aspect-ratio: 6125/4600;
}

.map__content {
}

.map__title {
  font-family: var(--base-font-family);
  font-size: rem(48);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1.6;
  margin-bottom: rem(30);
}

.map__text {
  font-family: var(--base-font-family);
  font-size: rem(20);
  font-weight: var(--regular);
  letter-spacing: 0.01em;
  line-height: 1.7;
  margin-bottom: rem(100);
}
