@use 'global' as *;

.news {
  margin-bottom: rem(125);
}

.news__inner {
  max-width: rem(1117);
  margin: 0 auto;
  padding: 0 var(--padding-pc);
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(45);
  @include mq {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(20);
  }
}

.news__title {
  font-family: var(--base-font-family);
  font-size: rem(50);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  @include mq {
    font-size: rem(32);
  }
}

.news__link {
  display: flex;
  align-items: center;
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  padding: rem(10) 0;
  gap: rem(10);
  .arrow {
    background-color: var(--black);
    aspect-ratio: 28/13;
    width: rem(28);
    display: block;
    mask-image: url('../images/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }
}

.news__list {
  display: grid;
  gap: rem(70);
  grid-template-columns: 1fr;
}

.news__item {
}

.news__item-link {
  align-items: center;
  display: grid;
  gap: rem(16);
  grid-template-columns: rem(52) rem(90) 1fr;
  position: relative;
  padding: rem(8) 0;
  border-bottom: 1px solid var(--base-color);
}

.news__item-date {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1;
}

.news__item-tag {
  text-align: center;
  border: 1px solid;
  border-radius: rem(4);
  padding: rem(7) rem(16);
  color: var(--brown);
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  line-height: 1;
}

.news__item-tag--notice {
  background-color: var(--white);
  border-color: var(--yellow);
}

.news__item-tag--recruit {
  background-color: var(--white);
  border-color: var(--green);
}

.news__item-tag--event {
  background-color: var(--white);
  border-color: var(--pink);
}

.news__item-title {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.6;
  @include mq {
    font-size: rem(14);
  }
}
