@use 'global' as *;

.photo-town {
  margin-bottom: rem(354);
}

.photo-town__inner {
  display: grid;
  grid-template-columns: 1fr rem(457) 1fr;
  gap: rem(56);
}

.photo-town__content {
}

.photo-town__title {
  text-align: center;
  font-family: var(--base-font-family);
  font-size: rem(48);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: rem(13);
}

.photo-town__subtitle {
  text-align: center;

  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  margin-bottom: rem(55);
}

.photo-town__text {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--regular);
  line-height: 1.8;
  margin-bottom: rem(40);
}

.photo-town__gallery {
  display: grid;
  gap: rem(46);
  grid-template-columns: 1fr;
}

.photo-town__gallery--1 {
  margin-top: rem(-120);
  grid-template-rows: rem(459) rem(281);
}
.photo-town__gallery--2 {
  margin-top: rem(-75);
  grid-template-rows: rem(281) rem(459);
}

.photo-town__gallery01,
.photo-town__gallery02 {
  border-radius: 0 rem(32) rem(32) 0;
  overflow: hidden;
}
.photo-town__gallery03,
.photo-town__gallery04 {
  border-radius: rem(32) 0 0 rem(32);
  overflow: hidden;
}
