@use 'global' as *;

.pickup {
  margin-bottom: rem(384);
}

.pickup__inner {
  max-width: rem(1314);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
}

.pickup__title {
  color: var(--base-color);
  font-family: var(--en-font);
  font-size: rem(156);
  font-weight: var(--regular);
  letter-spacing: 0.12em;
  line-height: 1;
  margin-bottom: rem(60);
  padding-left: rem(44);
}

.pickup__list {
  display: grid;
  grid-template-columns: rem(491) 1fr;
  grid-template-rows: rem(305) rem(305);
  gap: rem(26) rem(31);
}

.pickup__item {
  position: relative;
  --item-color: var(--base-color);
}

.pickup__item:nth-child(1) {
  grid-row: 1 / 3;
  height: rem(642);
  --item-color: var(--white);
  .pickup__item-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 rem(56) rem(32);
  }
}

.pickup__item:nth-child(2),
.pickup__item:nth-child(3) {
  display: grid;
  grid-template-columns: rem(305) 1fr;
  gap: rem(23);
}

.pickup__item-img {
  border-radius: rem(34);
}

.pickup__item-content {
  align-self: center;
}

.pickup__item-title {
  font-family: var(--base-font-family);
  font-size: rem(32);
  font-weight: var(--bold);
  line-height: 1.4;
  color: var(--item-color);
  margin-bottom: rem(16);
}

.pickup__item-text {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--regular);
  line-height: 2;
  margin-bottom: rem(16);
  color: var(--item-color);
}

.pickup__item-link {
  color: var(--item-color);
  border-bottom: 1px solid var(--item-color);
  span {
    background-color: var(--item-color);
  }
}
