@use 'global' as *;

.related-links {
  margin-bottom: rem(160);
}

.related-links__inner {
  max-width: rem(922);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
}

.related-links__title {
  font-family: var(--base-font-family);
  font-size: rem(50);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: rem(130);
  text-align: center;
}

.related-links__list {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(3, 1fr);
}

.related-links__item {
}

.related-links__item-icon {
  aspect-ratio: 1;
  width: rem(96);
  margin-inline: auto;
  margin-bottom: rem(4);
}

.related-links__item-icon img {
  object-fit: contain;
}

.related-links__item-text {
  color: var(--brown);
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: center;
}
