@use 'global' as *;

.related-links {
  margin-bottom: rem(180);
}

.related-links__inner {
  max-width: rem(922);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
}

.related-links__title {
  font-family: var(--base-font-family);
  font-size: rem(50);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: rem(180);
  text-align: center;
}

.related-links__list {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(3, 1fr);
}

.related-links__item {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.related-links__item-icon {
  aspect-ratio: 1;
  width: rem(96);
  margin-inline: auto;
  margin-bottom: rem(4);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.related-links__item-icon img {
  object-fit: contain;
}

.related-links__item-text {
  color: var(--brown);
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .related-links__item:hover {
  }

  .related-links__item:hover .related-links__item-icon {
    transform: scale(1.15);
    filter: brightness(1.1);
  }

  .related-links__item:hover .related-links__item-text {
    color: var(--yellow);
    transform: translateY(rem(5));
  }
}
