@use 'global' as *;

.related-links {
  padding: rem(120) 0;
}

.related-links__inner {
  max-width: rem(872);
  margin: 0 auto;
  padding: 0 var(--padding-pc);
}

.related-links__title {
  font-family: var(--base-font-family);
  font-size: rem(50);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: rem(60);
  text-align: center;
  @include mq {
    font-size: rem(32);
    margin-bottom: rem(40);
  }
}

.related-links__list {
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(3, 1fr);
  @include mq {
    grid-template-columns: 1fr;
    gap: rem(15);
  }
}

.related-links__item {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: rem(149);
  justify-content: center;
  padding: rem(20);
  @include mq {
    height: auto;
    padding: rem(30) rem(20);
  }
}

.related-links__item-icon {
  height: rem(96);
  margin-bottom: rem(20);
  width: rem(96);
  @include mq {
    height: rem(60);
    width: rem(60);
    margin-bottom: rem(15);
  }
}

.related-links__item-text {
  color: var(--brown);
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: center;
  @include mq {
    font-size: rem(16);
  }
}
