@use 'global' as *;

.slider {
  margin-bottom: rem(384);
}

.slider__inner {
  max-width: rem(1427);
  margin-inline: auto;
  padding: 0 var(--padding-pc);
  display: flex;
  align-items: start;
  gap: rem(24);
}

.slider__header {
  width: rem(32);
}

.slider__title {
  font-family: var(--base-font-family);
  font-size: rem(32);
  letter-spacing: 0.5em;
  font-weight: var(--bold);
  line-height: normal;
  writing-mode: vertical-rl;
  margin-bottom: rem(24);
}

.slider__nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(20);
  transform: translateX(rem(5));
}

.slider__button {
  aspect-ratio: 1;
  margin: rem(5);
  background-color: var(--base-color);
  mask-image: url('../images/arrow.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.slider__button--prev {
  transform: scaleX(-1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .slider__button:hover {
    background-color: var(--yellow);
    transform: scale(1.1);
  }

  .slider__button--prev:hover {
    transform: scaleX(-1) scale(1.1);
  }
}

.slider__list-wrap {
  width: 50%;
  flex-grow: 1;
}

.slider__list {
  // clip-path: inset(0 -100vw 0 0);
  // width: 50%;
  // flex-grow: 1;
  border-radius: rem(34);
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.slider__item {
  background-color: var(--white);
  display: block;
}

.slider__item.swiper-slide {
  height: auto;
}

.slider__item-img {
  aspect-ratio: 430/398;
  overflow: hidden;
}

.slider__item-img img {
  transition: 0.3s ease-in-out all;
}

.slider__item-content {
  padding: rem(10) rem(22) rem(16);
}

.slider__item-title {
  font-family: var(--base-font-family);
  font-size: rem(28);
  font-weight: var(--bold);
  line-height: 1.4;
  margin-bottom: rem(20);
}

.slider__item-text {
  font-family: var(--base-font-family);
  font-size: rem(18);
  font-weight: var(--regular);
  line-height: 1.9;
  margin-bottom: rem(20);
}

.slider__item-link {
  align-items: center;
  display: flex;
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  gap: rem(10);
  transition: gap 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  .circle-arrow {
    display: block;
    width: rem(34);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--base-color);
    display: grid;
    place-content: center;
    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
      content: '';
      display: block;
      aspect-ratio: 11/6;
      width: rem(12);
      mask-image: url('../images/arrow.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: var(--base-color);
      transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media (any-hover: hover) {
  .slider__item:hover {
    .slider__item-img img {
      transform: scale(1.05);
    }
    .slider__item-link {
      gap: rem(15);
      color: var(--yellow);
    }

    .slider__item-link .circle-arrow {
      border-color: var(--yellow);
      background-color: var(--yellow);
      transform: scale(1.1);
    }

    .slider__item-link .circle-arrow::after {
      background-color: var(--white);
      transform: translateX(rem(2));
    }
  }
}
