@use 'global' as *;

.useful-info {
  margin-bottom: rem(120);
}

.useful-info__inner {
  max-width: rem(1432);
  margin-inline: auto;
}

.useful-info__title {
  font-family: var(--base-font-family);
  font-size: rem(50);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: rem(150);
  text-align: center;
}
.useful-info__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.useful-info__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: rem(200);
  justify-content: center;
  padding: rem(10);
}

.useful-info__item--app {
  background-color: #beba3f;
}

.useful-info__item--sns {
  background-color: var(--teal);
}

.useful-info__item--magazine {
  background-color: var(--green);
}

.useful-info__item--calendar {
  background-color: var(--pink);
}

.useful-info__item--contact {
  background-color: var(--purple);
}

.useful-info__img {
  aspect-ratio: 1;
  width: rem(106);
  margin-bottom: rem(10);
}

.useful-info__img img {
  object-fit: contain;
}

.useful-info__item-title {
  color: var(--white);
  font-family: var(--base-font-family);
  font-size: rem(32);
  font-weight: var(--bold);
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-align: center;
}
