@use 'global' as *;

.youtube {
  margin-bottom: rem(148);
  position: relative;
  max-width: rem(968);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
  display: grid;
  place-content: center;
}

.youtube__bg {
  width: 100%;
  aspect-ratio: 918/427;
  border-radius: rem(32);
  overflow: hidden;
}

.youtube__bg-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.youtube__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(128);
  aspect-ratio: 1;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.youtube__icon {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .youtube__button:hover {
    transform: translate(-50%, -50%) scale(1.15);
    filter: brightness(1.1);
  }

  .youtube__button:hover .youtube__icon {
    transform: scale(1.1);
  }
}
